[Unit]
Description=madsportslab management daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/madsportslab/bin
ExecStart=/home/madsportslab/bin/mcontroller

[Install]
WantedBy=multi-user.target

